.jmj_seo_loader {
  border-top: 16px solid #0A1612;
 border-right: 16px solid #C5C1C0;
 border-bottom: 16px solid #1A2930;
 border-left: 16px solid #F7CE3E;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
.jmj_seo_clear {clear: both;}
.jmj_seo_green {color:green;font-size: 24px;}
.jmj_seo_description {font-size: 18px;
    padding: 10px;
    color: #0A1612;
    margin-bottom: 20px;}
.jmj_seo_loader_container {display:none;}
.jmj_seo_{box-shadow: none !important;}
.jmj_seo_cta {background-color:#F7CE3E !important;color:#1A2930 !important; margin-left:20px !important;}
.jmj_seo_cta:hover {background-color:#0A1612 !important;color:#fff !important;margin-left:20px !important;}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.jmj_seo_site-title {
    font-size: 22px;
    font-weight: 800;
}
.jmj_seo_test_summary {color:#0A1612;    font-size: 22px;
    clear: both;}
.jmj_seo_small-padding {padding:10px;}
progress {padding:10px;margin: 15px 0px;}
.jmj_seo_page-score {font-size: 28px;font-weight:900;}
.jmj_seo_test-result {background-color:#C5C1C0;}
.jmj_seo_title-display{margin: 30px 0 5px 0;}
.jmj_seo_title {    font-size: 20px;
    display: block;
    clear: both;
    background-color: #1A2930;
    color: #fff;
    padding: 7px; }
.jmj_seo_score {font-weight:bold;}
.jmj_seo_float_left {float: left;}
.jmj_seo_screenshot { margin: 30px;
    border: 1px solid #c1c1c1;float:left;}

/*  SECTIONS  */
.jmj_seo_section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.jmj_seo_col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.7%;
}
.jmj_seo_col:first-child { margin-left: 0; }

/*  GROUPING  */
.jmj_seo_group:before,
.jmj_seo_group:after { content:""; display:table; }
.jmj_seo_group:after { clear:both;}
.jmj_seo_group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.jmj_seo_span_3_of_3 { width: 100%; }
.jmj_seo_span_2_of_3 { width: 66.1%; }
.jmj_seo_span_1_of_3 { width: 32.2%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.jmj_seo_col {  margin: 1% 0 1% 0%; }
	.jmj_seo_span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}